<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

{%- include head.html -%}

<body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
        <center><div class="link-cont"><div class="link-wrapper"><a class="link hover-link" href="https://onanion.blogspot.com/2019/09/blog-post.html"><i class="fa fa-long-arrow-left" aria-hidden="true"></i> Back To Article</a></div></div></center><br />
        <div class="wrapper">
            {{ content }}
        </div>
    </main>
    
    {%- include footer.html -%}

    <script src="https://cdn.plyr.io/3.6.4/plyr.js"></script>
    <script>/*<![CDATA[*/const players = Array.from(document.querySelectorAll('.js-player')).map(player => new Plyr(player));/*]]>*/</script>
</body>

</html>
